<!-- <app-all-user>loading all user ...
</app-all-user>

<app-chart-ping>chart loading ...</app-chart-ping>


<app-get-user-by-name>user loading ...</app-get-user-by-name>

<app-instruction-send> instruction loading ...</app-instruction-send>
 -->




<div class="inner">

  <section id="first" class="main special">
    <header class="major">
      <h2>GERMANY</h2>
    </header>

   <!--  <app-all-user>Loading users ...</app-all-user>-->
   <app-get-user-by-name></app-get-user-by-name>
   
<!--<app-chart-ping></app-chart-ping>
-->



    <footer class="major">
      <ul class="actions special">
        <li><a href="generic.html" class="button">see More</a></li>
      </ul>
    </footer>
 
  </section>

  <!-- Second Section -->
  <section id="second" class="main special">

    <header class="major">
      <h2>Stats</h2>
      </header>
    <ul class="statistics">
      <li class="style1">
        <span class="icon fa-code-fork"></span>
        <strong>5,120</strong> Etiam
      </li>
      <li class="style2">
        <span class="icon fa-folder-open-o"></span>
        <strong>8,192</strong> Magna
      </li>
      <li class="style3">
        <span class="icon fa-signal"></span>
        <strong>2,048</strong> Tempus
      </li>
      <li class="style4">
        <span class="icon fa-laptop"></span>
        <strong>4,096</strong> Aliquam
      </li>
      <li class="style5">
        <span class="icon fa-diamond"></span>
        <strong>1,024</strong> Nullam
      </li>
    </ul>
    <footer class="major">
      <ul class="actions special">
        <li><a href="templates/client/index.html" class="button">See More</a></li>
      </ul>
    </footer>
  </section>
    </div>
    <script src="../assets.1/js/jquery.min.js"></script>
<script src="../assets.1/js/jquery.scrollex.min.js"></script>
<script src="../assets.1/js/jquery.scrolly.min.js"></script>
<script src="../assets.1/js/browser.min.js"></script>
<script src="../assets.1/js/breakpoints.min.js"></script>
<script src="../assets.1/js/util.js"></script>
<script src="../assets.1/js/main.js"></script>



<script src="../assets.1/js/js2/jquery.min.js"></script>
<script src="../assets.1/js/js2/browser.min.js"></script>
<script src="../assets.1/js/js2/breakpoints.min.js"></script>
<script src="../assets.1/js/js2/util.js"></script>
<script src="../assets.1/js/js2/main.js"></script>

<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
