
<form action="">
<font size="20">
<input type="number" max="255" min="0">.
<input type="number" max="255" min="0">.
<input type="number" max="255" min="0">.
<input type="number" max="255" min="0">.
</font>
<div class="col-4 col-12-small">
  <input type="radio" name="type" type="radio" value="ping">
  <label for="demo-priority-low">ping</label>
</div>
<div class="col-4 col-12-small">
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name="type" value="tracert" >
    <label for="demo-priority-low">tracert</label>
  </div>
  <a href="" class="button">Add instruction</a>
</form>