 <ul>
  <li *ngFor="let message of pingss">{{message.date}}</li>
</ul>
 <table>
    <thead>
    <tr>
      <th>date</th>
      <th>average</th>
      <th>loss</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of pingss">
      <td>{{message.date}}</td>
      <td>{{message.average}}</td>
      <td>{{message.loss}}</td>
    </tr>
    <tr *ngFor="let ping of pings">
      <td>{{ping.date}}</td>
      <td>{{ping.average}}</td>
      <td>{{ping.loss}}</td>
    </tr>




    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"></td>
      <td>100.00</td>
    </tr>
    </tfoot>
  </table>

