<h2>{{name}}</h2>
<div *ngIf="rst">
<ul>
    <li >
        <a [href] ="['user/charts/',name]" >chart && pings</a> </li>

<li >
    <a [href]="['user/sendinstruction/',name]" class="active" >send instructions</a> </li>


<li >
        <a [href]="['user/change/',name]" >change Adresse</a> </li>

</ul>
</div>

<div *ngIf="!rst">
        <ul>
            <li >
                <a [href] ="['user/charts/',name]" class="active">chart && pings</a> </li>
        
        <li >
            <a [href]="['user/sendinstruction/',name]" >send instructions</a> </li>

            
<li >
        <a [href]="['user/change/',name]" >change Adresse</a> </li>
            
        
        </ul>
        </div>
        