<div *ngIf="rst">
<ul>
    <li >
        <a href ="user/charts/1" >chart && pings</a> </li>

<li >
    <a href="user/sendinstruction/1" class="active" >send instructions</a> </li>


<li >
        <a href="user/change/1" >change Adresse</a> </li>

</ul>
</div>

<div *ngIf="!rst">
        <ul>
            <li >
                <a href ="user/charts/1" class="active">chart && pings</a> </li>
        
        <li >
            <a href="user/sendinstruction/1" >send instructions</a> </li>

            
<li >
        <a href="user/change/1" >change Adresse</a> </li>
            
        
        </ul>
        </div>
        